.bar {
    margin-right: 20px !important;
    background: #fff;
    border: none;
    border-radius: 20px 20px 10px 10px;
    line-height: 1.5em;
}

.bar_footer {
    margin-left: 50px;
    line-height: 1.7;
}
/* .mui-1xkz0he-MuiResponsiveChart-container{
    overflow: auto !important;
} */